.form__new-todo {
	width: 100%;
	padding: var(--base-2) var(--base-8);
	margin: 0 var(--base-4);
	gap: var(--base-2);
}
.container__new-todo {
	padding: var(--base-4) 0;
}
.form__new-todo h2 {
	margin: 0;
}
.form__new-todo button {
	margin: 0;
}
